<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Inmuebles Oruro</title>
	<link rel="stylesheet" type="text/css" href="css/login.css">
</head>
              <body>
                <div class ="login-box"> 

                  <img class ="avatar" src="img/candado.png" alt="Logo2">
                  <h1>Inmuebles Oruro</h1>
                  <form action="/login" method="POST">
                   <label for="usuario">Usuario</label>
                   <input type="text" id="username" placeholder="Ingresar Usuario" name="username"  size="30"  required="required">
                
                   <label for="password">Contraseña</label>
                   <input type="password" id="password" placeholder="Ingresar Contraseña" name="password" required="required" size="30">
                  
                   <input type="submit" name="igresar" value="Ingresar">
                   <a href="index.ejs">Salir</a>
                   

                 </form>
                </div>

              </body>
            
</body>
</html>